.Card-h1{
    color: blue;
   padding: 50px;
   text-align: center;
}
.editor-container {
    display: flex;
    gap: 20px;
    align-items: flex-start; /* align items at the top */
  }
.Card-form-container{
  
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    height: 400px;
    padding: 10px;
    margin: 100px;
}
.CardsList-image {
    height: 200px;
    width: 200px;
    padding: 10px;
}
.Card-container{
    position: relative;
    display: inline;
}
.heading-overlay-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Card-image{
    
    padding: 50px;
    height: 600px;
    width: 500px;
    
}
.overlay-text {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    
} 
.Card-edit-form{
    display: flex;
    flex-direction: column;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.Form{
   
    padding: 15px;
}
.Form-input{
    padding: 10px;
}
.Button{
    background-color: gray;
    border-radius: 5px;
    font: bold;
   margin: 40px;
}
.Preview-btn{
  
    margin-top: 50%;
    margin-right: 20px;
    padding: 10px;
    font-size: 25px;
    
}
.NavBar-NavLink{
    padding: 100px;
    color: white;
    font-size: x-large;
    text-decoration: none;
}
.Navbar-container{
    margin-top: 10px;
    padding: 20px;
    background-color: darkolivegreen;
}
.input{
    padding: 15px;
}
.ShareInvite-a{
    padding: 10px;
}